<p id="notice"><%= notice %></p>

<h2>
  <strong>Name:</strong>
  <%= @cocktail.name %>
</h2>


<h3><strong>Ingredients:</strong></h3>
<% @cocktail.doses.each do |dose| %>
  <p><%= dose.ingredient.name %> - <%= dose.description %> - <%= link_to 'Delete this dose', dose_path(dose.id),
      method: :delete,
      data: { confirm: "Are you sure?" }%></p>
<% end %>


<p><%= link_to 'Add ingredients', new_cocktail_dose_path(@cocktail.id) %></p>
<p><%= link_to 'Back', cocktails_path %></p>
